header {
    width: 100%;
    height: auto;
    background-attachment: fixed;
}

.textos {
    padding: 250px;
    color: rgb(3, 3, 3);
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.418);

}
.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    animation-name: modal;
    animation-duration: 1s;
}

a {
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    width: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0)
}

a:hover {
    background: #000;
    color: #fff;
}

.divInferior {
    position: absolute;
    width: 40rem;
    height: 20rem;
    background-color: rgba(46, 54, 123, 1);
    top: 4.5rem;
    left: 26.8rem;
    /* z-index: 1; */
    display: flex;
}

.divSuperior {
    position: absolute;
    background: #FFFFFF;
    width: 18rem;
    height: 22rem;
    left: 27.5rem;
    top: 3.5rem;
    border-radius: 9px;
}

.divInferior__Empty{
    width: 50%;
}

.divInferior__Principal--Cuenta{
    padding-top: 1.5rem;
    color: white;
}

.divInferior__Principal--Button{
    width: 7rem;
    height: 2rem;
    border: 1px solid white;
    background: #2E367B;
    color: #fff;
    cursor: pointer;
}



.divSuperior__H5 {
    /* font-family: 'Poppins'; */
    color: rgba(46, 54, 123, 1);
    font-weight: 700;
    font-size: 1.2rem;
    /* line-height: 21px; */
    display: flex;
    justify-content: center;
    padding: 1rem 0;

}

.divSuperior__Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
}

.divSuperior__Input {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0.2rem 0;
    height: 1.5rem;
    background: #2e367b36;
    border: none;
}

.divSuperior > button{
    width: 6rem;
    height: 1.6rem;
    background-color: rgba(46, 54, 123, 1);
    color: white;
    border: none;
    margin: 4rem 0 0 0.8rem;
    cursor: pointer;
}

::placeholder{
    color: rgba(46, 54, 123, 1);
}
@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    } 
} 

.close {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.close > p {
    cursor: pointer;
}